<h1>Gmails</h1>

<table border="1">
  <thead>
    <tr>
      <th>sender</th>
      <th>price</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Received At</th>
    </tr>
  </thead>
  <tbody>
    <% @google_gmails.each do |gmail| %>
      <tr>
        <td><%= gmail.sender %></td>
        <td><%= gmail.property_price %></td>
        <td><%= gmail.subject %></td>
        <td><%= gmail.body_plain_text_half_width %></td>
        <td><%= gmail.received_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>